################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TxtExtractWithReadAPI/TxtExtractWithReadAPI/bin
/TxtExtractWithReadAPI/TxtExtractWithReadAPI/obj
/TxtExtractWithReadAPI/.vs
