################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TxtExtractWithReadAPI/TxtExtractWithReadAPI/bin/Debug
/TxtExtractWithReadAPI/TxtExtractWithReadAPI/obj
/TxtExtractWithReadAPI/.vs/TxtExtractWithReadAPI
